* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

html {
    font-size: 62.5%;
}

.heading {
    text-align: center;
    font-size: 3.2vw;
    font-weight: 900;
    margin: 3vw 0 5vw 0; 
    animation: service 5s ease-in-out infinite;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes service {
    0% {
        opacity: 0;
        width: 100%;
    }

    50% {
        opacity: 0.5;
        color: #E4B312;
        transform: scale(.9);
    }

    100% {
        opacity: 1;
        color: #000;
    }
}